.fa-large{
    font-size: 20em;
}

.btn-purple{
    color:white !important;
}

.col-md-4{
    text-align: center;
}

.jumbotron{
    background-color: transparent;
}

.container{
    background-color: rgba(233, 233, 233, 0.3)
}

body {
    color:whitesmoke;
    margin:0;
    height: 100%;
    background: url("../images/obsidian_background.png") 0 / cover fixed;
}