body {
    background: url("../images/obsidian_background.png") 0 / cover fixed;
}

.fullscreen {
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1px rgba(111, 111, 111, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
    position:absolute;
    width:600px;
    height:400px;
    left:50%;
    top:50%;
    margin:-200px -300px;
}
.fullscreen::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url("../images/obsidian_background.png") 0 / cover fixed;
    filter: blur(20px);
    -webkit-filter:blur(3px);
    z-index: -1;
}
.left-div {
    border-radius: initial;
    background-image: url('../images/obsidian_texture_1.jpg');
    float: left;
    height: 100%;
    width: 200px;
    color:white;
}
.left-div>h1{
    padding-bottom:40px;
}
.form-padding{
    padding-left:200px;
    height:100%;
}
.text-padding{
    padding:10px 10px 10px 10px;
}
.list-group-item-info{
    opacity:0.7
}
.list-group-item-right{
    position: absolute;
    top:25%;
    left:90%
}
.lg-checkbox{
    height: 25px;
    width: 25px;
}
.check{
    border:2px solid rgba(111,111,111, .54) !important;
}
.form-group > label,.checkbox label, label {
    color:white;    
    font-size:large;
    font-weight:300;
    text-shadow:4px 4px 25px black;
}
.form-control,h2,h3{
    color:white;
    text-shadow:4px 4px 25px black;
}
.list-group-item-info{
    background-color:rgb(255,255,255) !important;
    margin-bottom:1px;
    border-radius:3px !important;
}
.list-group-item > p{
    padding-bottom:5px
}
.warning{
    font-size: 200px;
    float: right;
    position: absolute;
    top: 50%;
    left: 65%;
    opacity: 0.6;
}

.center{
    text-align: center;
}
.face-wrapper {
    position: relative;
    height: 100px;
    width: 100%;
    display: inline-block;
    margin: 0 5px 10px;
    cursor: pointer;
}

.bouncer{
    position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 38px;
  color: #ccc;
  padding: 0 0 8px;
  border-radius: 50%;
  margin: 100px auto;
  font-size: 32px;
  font-family: "comic sans ms";
  font-weight: bold;
	
  transition: color .25s linear;
  transition: border-color .25s linear;
  transform: rotate(90deg);
  animation: jump 0.5s infinite alternate;
	
  -o-transition: color .25s linear;
  -o-transition: border-color .25s linear;
  -o-transform: rotate(90deg);
  -o-animation: jump 0.5s infinite alternate;
	
  -ms-transition: color .25s linear;
  -ms-transition: border-color .25s linear;
  -ms-transform: rotate(90deg);
  -ms-animation: jump 0.5s infinite alternate;
	
  -moz-transition: color .25s linear;
  -moz-transition: border-color .25s linear;
  -moz-transform: rotate(90deg);
  -moz-animation: jump 0.5s infinite alternate;
	
  -webkit-transition: color .25s linear;
  -webkit-transition: border-color .25s linear;
  -webkit-transform: rotate(90deg);
  -webkit-animation: jump 0.5s infinite alternate;
}
@keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-o-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-ms-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-moz-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-webkit-keyframes jump {
  0% {
      top: -40px;
      -webkit-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-webkit-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}
