@{
    ViewData["Title"] = "Home Page";
    var version = Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion;
    var fwVersion = Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.RuntimeFramework.Version;
    var buildTime = System.IO.File.GetCreationTimeUtc(typeof(Startup).Assembly.Location);
}

<div class="container">
    <h1>Project Obsidian <small>@version</small></h1>
    <h3>Runtime version: @fwVersion</h3>
    <h3>Built on: @buildTime UTC</h3>
</div>