@using Obsidian.Domain
@using Obsidian.Models

@model PermissionGrantModel

@{
    var client = ViewBag.Client as Client;
    var scopes = ViewBag.Scopes as PermissionScope[];
}<div class="fullscreen">

    <div class="text-padding left-div">
        @*Left Section*@
        <h1>Permission</h1>
        <h3>Allow &ensp;<b>@client.DisplayName</b>&ensp; to access these following information?</h3>
    </div>
    <div class="form form-padding">
        <ul>
            @foreach (var scope in scopes)
            {
                <li><b>@scope.DisplayName &ensp;</b>@scope.Description</li>
            }
        </ul>
        <form asp-action="PermissionGrant" asp-controller="OAuth20">
            <input asp-for="Grant" type="checkbox" />
            <input asp-for="ProtectedOAuthContext" type="hidden" />
            <button type="submit">Next</button>
        </form>
    </div>
</div>

<link href="~/css/SignIn.css" rel="stylesheet" /> 
<h1></h1>


