@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Obsidian.Models.OAuth.OAuthSignInModel
@{
    ViewData["Title"] = "Sign in";
}
@section scripts{
    <script>$.material.init();</script>
}
<div class="fullscreen">

    <div class="text-padding left-div">
        @*Left Section*@
        <h1>Obsidian</h1>
        <h3>One-stop Authenication Solution</h3>
    </div>
    <div class="form form-padding form-white">
        <form role="form" class="text-padding" asp-action="Authorize" asp-controller="OAuth20">
            @*Right Section*@
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" type="text" placeholder="Enter your E-mail address" required/>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Password"></label>
                <input class="form-control" asp-for="Password" type="password" placeholder="Enter your password" required/>
            </div>

            <div class="checkbox checkbox-primary">
                <label asp-for="RememberMe">
                    <input type="checkbox" asp-for="RememberMe"/>
                    Remember Me
                </label>
            </div>
            <br/>
            <input asp-for="ProtectedOAuthContext" type="hidden" />
            <button class="btn btn-lg btn-primary btn-block btn-raised" type="submit">Sign In</button>
        </form>
    </div>

</div>


<link href="~/css/SignIn.css" rel="stylesheet" />