@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Obsidian.Models.OAuthSignInModel
@{
}
<h1>OAuth20 SignIn</h1>
<form asp-action="Authorize" asp-controller="OAuth20">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" type="text"/>

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />

    <input asp-for="RememberMe" type="checkbox" />

    <input asp-for="ProtectedOAuthContext" type="hidden" />

    <button type="submit">Sign In</button>
</form>
