@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Obsidian.Models.OAuth.OAuthSignInModel
@using Obsidian.Domain
@{
    ViewData["Title"] = "Sign in";
    var profile = ViewData["UserProfile"] as UserProfile;
}
<div class="fullscreen">

    <div class="text-padding left-div center">
        @*Left Section*@
        <h1>Obsidian</h1>
        <h3>One-stop Authenication Solution</h3>
    </div>
    @*Right Section*@
    <div class="right-div form-size form-white">
        @if (Model.IsAutoSignIn)
            {
            <div class="form-content">
                <form role="form" class="text-padding" asp-action="Authorize" asp-controller="OAuth20">
                <h3 class="center">Hello @Model.UserName!</h3>
                
                    <div class="face-wrapper">
                        <div class="bouncer">:)</div>
                    </div>
                <script>
                    setTimeout(function(){
                        $("form").submit();
                    },3000);
                </script>
                <input asp-for="UserName" type="hidden" />
                <input asp-for="ProtectedOAuthContext" type="hidden" />
                <input asp-for="RememberMe" type="hidden" />
                <input asp-for="IsAutoSignIn" type="hidden" />
                <button class="btn btn-lg btn-primary btn-block btn-raised" type="submit">Sign In</button>
            </form>

            <form role="form" class="text-padding" asp-action="SignOut" asp-controller="OAuth20">
                <input asp-for="ProtectedOAuthContext" type="hidden" />
                <button class="btn btn-lg btn-primary btn-block btn-raised" type="submit">Switch user / Sign out</button>
            </form>
            </div>
        }
        else
        {
            <form role="form" class="text-padding form-content" asp-action="Authorize" asp-controller="OAuth20">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" type="text" placeholder="Enter your E-mail address" required />
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" type="password" placeholder="Enter your password" required />
                </div>

                <div class="checkbox checkbox-primary">
                    <label asp-for="RememberMe">
                        <input type="checkbox" asp-for="RememberMe" />
                        Remember Me
                    </label>
                </div>
                <br />
                <input asp-for="ProtectedOAuthContext" type="hidden" />
                <input asp-for="IsAutoSignIn" type="hidden" />
                <button class="btn btn-lg btn-primary btn-block btn-raised" type="submit">Sign In</button>
            </form>
        }
    </div>

</div>


<link href="~/css/SignIn.css" rel="stylesheet" />