@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Obsidian.Models.OAuthSignInModel
@{
    ViewData["Title"] = "Sign in";
}
@section scripts{
<script src="~/js/OAuthBundle.js"></script>
}

<div id="oauth"></div>

<link href="~/css/SignIn.css" rel="stylesheet" />