@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Access Denied";
}
<div class="fullscreen">
    <div class="text-padding left-div">
        @*Left Section*@
        <h1>Denied</h1>
        <h3>Access denied.</h3>
        
    </div>
    <div class="form form-padding">
        @*Right Section*@
        <i class="fa fa-exclamation-triangle warning"></i>
        <h3 class="text-padding">
            Your request is denied due to security reasons.
            Contact administrators if this is a bug. Sorry for any inconvience.
        </h3>
    </div>
</div>
<link href="~/css/SignIn.css" rel="stylesheet" />
