@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>OAuth 2.0 Authorization Request Denied By User</h1>
<div class="fullscreen">
    <div class="text-padding left-div">
        @*Left Section*@
        <h1>Denied</h1>
        <h3>Access denied.</h3>
    </div>
    <div class="form form-padding">
        @*Right Section*@
        <h2>
            Your request is denied due to security reasons.
            Contact administrators if this is a bug.
        </h2>
    </div>
</div>
<link href="~/css/SignIn.css" rel="stylesheet" />
