@{
    ViewData["Title"] = "Management Portal";
}
@section scripts{
    
<script src="~/js/vendor.bundle.js"></script>
<script src="~/js/app.bundle.js"></script>
}
<div id="portal"></div>

<div class="snackbar-container"></div>